body{
    background: linear-gradient(
        rgba(255,255,255, 0) .9em, rgba(0, 0, 0, .15) 1em)
      0 0,
      linear-gradient(90deg,
        rgba(255,255,255, 0) .9em, rgba(0, 0, 0, .15) 1em)
      0 0;
    background-size: 1em 1em;
    background-color: ivory;
    font: italic 16px/2 'Trebuchet MS', Verdana, sans-serif;
    font-family: sans-serif;
}
h1{
    background-color: rgba(0, 0, 0,.15);
    height: 50px;
    width: 210px;
    text-align: center;
    position: relative;
    top: 20px;
    left: 650px;
    border: 3px #2f0707 solid;
    border-radius: 50px;
    cursor: crosshair;
    overflow: hidden;
    text-align: center;
}
h1:hover{
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
input{
    height: 25px;
    width: 150px;
    position: relative;
    top: 78px;
    left: 900px;
    border: #2f0707 3px solid;
    border-radius: 50px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .15);
}
.what{
    width: 400px;
    height: 30px;
    background-color: rgba(0, 0, 0, .15);
    position: relative;
    top: 50px;
    left: 300px;
    text-align: center;
    border-radius: 7px;
}
.tewhat{
    width: 400px;
    height: 350px;
    background-color: rgba(0, 0, 0, .15);
    text-align: center;
    overflow: hidden;
    position: relative;
    top: 55px;
    left: 300px;
    border-radius: 7px;
}
.why{
    width: 400px;
    height: 30px;
    background-color: rgba(0, 0, 0, .15);
    position: absolute;
    top: 173px;
    left: 800px;
    text-align: center;
    border-radius:7px;
}
.tewhy{
    width: 400px;
    height: 350px;
    background-color: rgba(0, 0, 0, .15);
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 244px;
    left: 800px;
    border-radius: 7px;
}
